<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/followers.css'/>
</head>

<body>
  <div class="fullspan" style="height: 50px;">

    <div id="DIV_6">
      <ul id="menu-tab">
        <li id="home-tab">
          <a href="#">
            <span>Home</span>
          </a>
        </li>
        <li id="notifications-tab">
          <a href="#">
            <span>Notifications</span>
          </a>
        </li>
        <li id="messages-tab">
          <a href="#" id="A_26">
            <span>messages</span>
          </a>
        </li>
      </ul>
    </div>
    <div id="right-tab">
      <div id="search">
        <form action="https://twitter.com/sessions" method="post" id="form2">
          <div id="div-loginUname">
            <input type="text" name="session[username_or_email]" placeholder="Phone, email, or username" id="INPUT_4" class="loginInput"
            />
          </div>
          <input type="submit" value="Tweet" id="INPUT_9" class="edgebutton edgebutton-primary" />

      </div>
    </div>

    </li>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>

  <div class="fullspan" style="height: 180px; background-color:blue">
    <div class="aboutAvatar">
      <p class="avatarText">
        <span>Eat();</span>
        <span>sleep();</span>  
        <span>Code();</span>
        <span>Repeat();</span>
      </p>
    </div>
  </div>

  <div class="avatarImage">
    <a href="#" title="Mr Lagbaja" tabindex="-1" class="ProfileCard-avatarLink1">
      <img src="../images\defaultUser.png" class="profile-image"/>
    </a>
  </div>

  <div class="fullspan" style="height: 52px;" id="followers-panel">

    <ul class="flowUl">
      <li>
        <a href="#">Tweets
          <br>71
          <a>
      </li>
      <li>
        <a href="#">Following
          <br>71
          <a>
      </li>
      <li>
        <a href="#">Followers
          <br>71
          <a>
      </li>
      <li>
        <a href="#">Likes
          <br>71
          <a>
      </li>
      <li>
        <a href="#">Lists
          <br>71
          <a>
      </li>
      <li>
        <a href="#">Moments
          <br>71
          <a>
      </li>
    </ul>
  </div>
  <br>
  <div class="others">
    <div class="row">
      <div class="column" style="height: 100%;">

      </div>

      <div class="column">
        <div class="fullspan" style="height: 100px; background-color:blue">
        </div>
        <a href="#" title="Fadola Aminat" tabindex="-1" class="ProfileCard-avatarLink">
          <img src="../images/defaultUser.png"" alt="" class="ProfileCard-avatarImage" />
        </a>
        <div id="userfloatright">
          <input type="submit" value="Tweet" id="INPUT_9" class="edgebutton-user" />

        </div>
        <p class="followers1">
          <span style="font-weight:bold;">kinikan kinikan</span>
          <br> @lagbajaTamedu
          <span class="follows">follows you</span>
        </p>
      </div>

      <div class="column">
        <div class="fullspan" style="height: 100px; background-color:blue">
        </div>
        <a href="#" title="Fadola Aminat" tabindex="-1" class="ProfileCard-avatarLink">
          <img src="../images\defaultUser.png" alt="" class="ProfileCard-avatarImage" />
        </a>
        <div id="userfloatright">
          <input type="submit" value="Tweet" id="INPUT_9" class="edgebutton-user" />

        </div>
        <p class="followers1">
          <span style="font-weight:bold;">kinikan kinikan</span>
          <br> @lagbajaTamedu
          <span class="follows">follows you</span>
        </p>
      </div>

      <div class="column">
        <div class="fullspan" style="height: 100px; background-color:blue">
        </div>
        <a href="#" title="Fadola Aminat" tabindex="-1" class="ProfileCard-avatarLink">
          <img src="../images\defaultUser.png" alt="" class="ProfileCard-avatarImage" />
        </a>
        <div id="userfloatright">
          <input type="submit" value="Tweet" id="INPUT_9" class="edgebutton-user" />

        </div>
        <p class="followers1">
          <span style="font-weight:bold;">kinikan kinikan</span>
          <br> @lagbajaTamedu
          <span class="follows">follows you</span>
        </p>
      </div>

    </div>

  </div>

  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="DIV_1">
      <div id="DIV_2">
        <h1 id="H1_3">
           <span id="SPAN_4">Twitter</span>
        </h1> -->

</body>

</html>