<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <link rel='stylesheet' href='/stylesheets/home.css' />

  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
</head>






<body>
  <div id="main">
    <div id="DIV_16">
      <div id="DIV_17">
        <div id="DIV_18">
          <div id="DIV_1">
            <div class="communication-item1" id="logoText" style="color: maroon">
              L.C Twitter

            </div>
            <svg id="svg_1">
              <!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch -->

              <title id="title_2">
                bird
              </title>
              <desc id="desc_3">
                Created with Sketch.
              </desc>
              <defs id="defs_4">
              </defs>
              <g id="g_5">
                <g id="g_6">
                  <path id="path_7">
                  </path>
                </g>
              </g>
            </svg>
            <!--?xml version="1.0" encoding="UTF-8"?-->
            <!-- Generator: Sketch 45.2 (43514) - http://www.bohemiancoding.com/sketch -->

            <!-- 

        <svg id="svg_2">
  
          <title id="title_3">
            bird
          </title>
          <desc id="desc_4">
            Created with Sketch.
          </desc>
          <defs id="defs_5">
          </defs>
          <g id="g_6">
            <g id="g_7">
              <path id="path_8">
              </path>
            </g>
          </g>
        </svg> -->
            <div id="communication-block">

              <div id="DIV_10" class="communication-item">
                <span style="font-size: 25px;">
                  <i class="fa fa-search"></i>
                </span>
                <span id="SPAN_11" class="communication-icon"></span> Follow your interests.
              </div>
              <div id="DIV_12" class="communication-item">
                <span style="font-size: 25px;">
                  <i class="fa fa-car"></i>
                </span>
                <span id="SPAN_13" class="communication-icon"></span> Hear what people are talking about.
              </div>
              <div id="DIV_14" class="communication-item">
                <span style="font-size: 25px;">
                  <i class="fa fa-comment"></i>
                </span>
                <span id="SPAN_15" class="communication-icon"></span> Join the conversation.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="utilityBlock">
        <div class="loginForm">
          <form action="https://twitter.com/sessions" method="post" id="form2">
            <div id="div-loginUname">
              <input type="text" name="session[username_or_email]" placeholder="Phone, email, or username" id="INPUT_4" class="loginInput"
              />
            </div>
            <div id="div-loginPassword">
              <input type="password" name="session[password]" placeholder="Password" id="INPUT_6" class="loginInput" />
              <div id="DIV_7">
                <a class="recoverPassword"="/account/begin_password_reset" rel="noopener" id="A_8">Forgot password?</a>
              </div>
            </div>
            <input type="submit" value="Log in" id="INPUT_9" class="edgebutton" />
            <!-- <input type="hidden" name="return_to_ssl" value="true" id="INPUT_10" />
    <input type="hidden" name="scribe_log" id="INPUT_11" />
    <input type="hidden" name="redirect_after_login" value="/" id="INPUT_12" />
    <input type="hidden" value="287a35bbfc63436bcf396eef5b3ffbace6370cd8" name="authenticity_token" id="INPUT_13" />
    <input type="hidden" name="ui_metrics" id="INPUT_14" /> -->
          </form>
        </div>
        <div id="signupBlock">
          <div id="loginBlock">
            <span class="logo">
              <img src="../images/bird.svg" width="35px" height="40px">
            </span>
            <span id="dateSpan" class="edgebutton"></span>
            <!-- <span id="SPAN_3"></span> <a class="edgebutton"  ="/login" id="A_4">Log in</a> -->
          </div>
          <h1 id="H1_5">
            See what’s happening in the world right now
          </h1>
          <div id="DIV_6">
            <h2 id="H2_7">
              Join L.C Twitter today.
            </h2>
            <div id="DIV_8">
              <a class="edgebutton2 edgebutton-secondary"="https://twitter.com/signup" id="A_9">Sign Up</a>
              <a href="/followers" id="A_10" class="edgebutton3">Log in</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="StreamsFooter">
    <ul id="streamsFooter-list">
      <li class="StreamsFooter-item">
        <a id="A_4">About</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_6">Help Center</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_8">Blog</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_10">Status</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_12">Jobs</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_14">Terms</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_16">Privacy Policy</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_18">Cookies</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_20">Ads info</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_22">Brand</a>
      </li>
      <li class="StreamsFooter-item">
        <a class="StreamsFooter-item">Apps</a>
      </li>
      <li class="StreamsFooter-item">
        <a>Advertise</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_28">Marketing</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_30">Businesses</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_32">Developers</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_34">Directory</a>
      </li>
      <li class="StreamsFooter-item">
        <a id="A_36">Settings</a>
      </li>
      <li class="StreamsFooter-item">
        © 2018 LasuCodes
      </li>
    </ul>
  </div>

</body>

<script>
  let getText = document.getElementById("logoText");
  let date = document.getElementById("dateSpan");

  function showStyle() {
    if (getText.style.color == "maroon") {

      getText.style.color = "red"
    }

    else if (getText.style.color == "red") {
      getText.style.color = "orange";
    }

    else if (getText.style.color == "orange") {
      getText.style.color = "yellow";
    }

    if (getText.style.color == "yellow") {

      getText.style.color = "green"
    }

    else if (getText.style.color == "green") {
      getText.style.color = "blue";
    }

    else if (getText.style.color == "blue") {
      getText.style.color = "indigo";
    }


    else if (getText.style.color == "indigo") {
      getText.style.color = "violet";
    }

    else if (getText.style.color == "violet") {
      getText.style.color = "maroon";
    }


  }
  function showdate() {
    date.innerText = new Date().toLocaleTimeString();
  }

  setInterval(showStyle, 300);
  setInterval(showdate, 1000);



</script>

</html>